<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style> 
.ng-cloak { display: none !important; } 
.poistonappi {
margin-top:10px;
 
 }
 .tallennavastaus {
	margin-top:20px;
 	
 }
 .form-inline{
 	margin-top:3%;
 }
  .form-inline > div > label > textarea {
   margin-top:5px;
}
 .form-inline > div > label{
   margin-right:15px;
}


 .form-inline > div >input,.form-inline > div >select{
   margin-left:15px;
   margin-right:20px;
}
.vaihtoehto{
	margin-top:13px;
	margin-bottom:13px
}
</style>
<script>
/*$(document).ready(function(){
        $.getJSON("kysymykset.JSON", function(result){
            $.each(result, function(i, field){
                $("form").append(field.id + ".  " +field.kysymys + "<br/>").append("<input name="+field.id+"/><br/>");
            });
        });
        $('#vastauslomake').on('submit', function(e) { 
            var inputs = $("#vastauslomake :input:not(:submit)");
            e.preventDefault();
            var vastaukset = $.map(inputs, function(x, y) {
                		return {
                        	id: x.name,
                        	vastaus: $(x).val()
                    };
                });
            console.log(vastaukset);
            $.ajax({
                url: 'talletavastaus', // php script to retern json encoded string
                data:JSON.stringify(vastaukset),  // serialized data to send on server
                contentType: "application/json; charset=utf-8",
                dataType:'json', // set recieving type - JSON in case of a question
                type:'POST', // set sending HTTP Request type
                success: function (data) {
                	console.log(data)
                	$("#response pre").html("Vastaukset tallennetu! Kiitos!")
                	$('#vastauslomake')[0].reset();
                	
                },
                error: function (err) {
                	console.log("jotain meni pieleen: katso virhe alta:")
                	$("#response pre").html("jotain meni pieleen!")
                	console.log(err)	
                }
            });
            
            });
 
       
});*/
</script>
</head>
<body>

<div class="container" ng-app="myApp" ng-controller="myCtrl">

	<div class="page-header" >
		
	 	<h1>Palautekysely</h1>
	 	<p>Voit vastata kyselyihin ja muokata kyselyita haluamallasi tavalla. Aloita valitsemalla kysely.</p>	
	</div>
	 	<div>
	 	<select class="form-control" ng-init="kyselyalku='alku'" ng-model="kyselyalku">
	 		<option value="alku" selected disabled>-- Valitse kysely --</option>
 			<option  ng-repeat="(index, kyselyalku) in myWelcome"  value="{{index}}">{{kyselyalku.id}}.{{kyselyalku.nimi}}</option>
		</select>
		</div>



<form name="lomake"  ng-submit="submitForm()" >

  			<div class="form-group" ng-repeat="(index, kysymys) in myWelcome[kyselyalku].kysymyslista" >
  				<div>	
    				<h3  ng-cloak>{{kysymys.id}}. {{ kysymys.kysymys }}</h3>	
    			</div>
    				
    			<div class="radio-inline form-group" ng-if="kysymys.tyyppi.tyyppi=='radio'" ng-repeat="(i, vaihtoehto) in kysymys.tyyppi.vaihtoehdot track by i">
    				<label class="radio-inline">
   		 				<input type="{{kysymys.tyyppi.tyyppi}}"  name="kys_{{$index}}" value="{{vaihtoehto}}" ng-model="vastaukset[kysymys.id]" required >
   		 					{{vaihtoehto}}
   		 			</label>
   			 	</div>
   			<div class="form-group" ng-if="kysymys.tyyppi.tyyppi=='text'">
    			<input class="form-control" type="{{kysymys.tyyppi.tyyppi}}"  name="kys_{{$index}}" ng-model="vastaukset[kysymys.id]" required >
    		</div>
    		<div class="checkbox-inline form-group"  ng-if="kysymys.tyyppi.tyyppi=='checkbox'" ng-repeat="(i, vaihtoehto) in kysymys.tyyppi.vaihtoehdot track by i" >
    		<label class="radio-inline">
    			<input type="{{kysymys.tyyppi.tyyppi}}"  name="kys_{{$i}}" ng-model="vastaukset[kysymys.id][i]" ng-true-value="'{{vaihtoehto}}'" ng-required="value.length==0">
    				{{vaihtoehto}}
    		</label>
    			
 			</div>
 				<div>
 				 <p class="help-block" ng-show="lomake['kys_' + $index].$touched && lomake['kys_' + $index].$invalid" >Kenttä ei saa olla tyhjä</p>
 				</div>
 			<div class=form-group>
 				<button class="btn btn-danger  btn-primary btn-xs poistonappi"  ng-init="id[index]=kysymys.id" ng-click="removeQuestion(kysymys)">Poista kysymys</button>
 			</div>
    	
 			</div>
 				 	 
    	
    <div class="form-group">
		<button type="submit" class="btn btn-primary btn-lg tallennavastaus" ng-hide="kyselyalku=='alku'" ng-disabled="lomake.$invalid" >Tallenna vastaukset</button>	
	</div>


</form>
<hr>
<div class="page-header">
	<h3>Kyselyiden muokkaus</h3>
</div>
<form class="form-inline" name="lisaakysymys" ng-submit="addQuestion()" >

 	<div class="form-group ">
    	<label class="control-label">Lisää uusi kysymys:</label>
    	<input type="text" class="form-control" name="uusikysymys" ng-model="uusikysymys" placeholder="Syötä kysymys..." required/>
    </div>
    <div class="form-group ">
    <label class="control-label">Tyyppi: </label>
    <select class="form-control" ng-model="tyyppi" ng-init="tyyppi='Tyyppi'" required>
 		<option disabled value="Tyyppi">-- Valitse Tyyppi --</option>
 		<option value="text">text</option>
 		<option value="radio">radio</option>
		<option value="checkbox">checkbox</option>
	</select>
	</div>
	<div class="form-group">
	<label class="control-label">Kysely: </label>
	 <select class="form-control" ng-model="kysely" ng-init="kysely='kysely'" required>
		 <option disabled value="kysely">-- Valitse Kysely --</option>
 		<option ng-repeat="(index, kysely) in myWelcome" value="{{kysely.id}}">{{kysely.nimi}}</option>
	</select>
	</div>
		<div ng-if="tyyppi=='radio' || tyyppi=='checkbox'" class="form-group vaihtoehto">
			<label class="control-label">Vaihtoehto(pakollinen): </label>
			<input type="text" class="form-control" name="vaihtoehto1" ng-model="vaihtoehdot[0]" required placeholder="vastausvaihtoehto1 / pakollinen..."/>
		</div>	
		<div ng-if="tyyppi=='radio' || tyyppi=='checkbox'" class="form-group vaihtoehto">
			<label class="control-label">Vaihtoehto(pakollinen): </label>
			<input type="text" class="form-control" name="vaihtoehto2" ng-model="vaihtoehdot[1]" required placeholder="vastausvaihtoehto2 / pakollinen..."/>
		</div>	
		<div  ng-if="tyyppi=='radio' || tyyppi=='checkbox'" class="form-group vaihtoehto">	
			<label class="control-label">Vaihtoehto: </label>
			<input type="text" class="form-control" name="vaihtoehto3" ng-model="vaihtoehdot[2]" value="" placeholder="vapaaehtoinen.."/>
  		</div>	
  	
 	

  <div class="form-group" >
	<button type="submit" class="btn btn-primary" ng-disabled="lisaakysymys.$invalid">Lisää uusi kysymys</button>
  </div>
</form>
<hr>
<form class="form-inline" name="lisaakysely"  ng-submit="lisaaKysely()" >

  <div class="form-group">
    <label for="uusikysely">Lisää uusi kysely:</label>
    	<input type="text" class="form-control" name="nimi" ng-model="uusikysely[0]" placeholder="Syötä kyselyn nimi..." required/>
    </div>
    <div class="form-group">
    <label for="info">
    	<textarea  class="form-control"  rows="1" id="info" name="info" ng-model="uusikysely[1]" placeholder="Syötä kyselyn infoteksti..." required/>
   	</label>
    </div>
 	<div class="form-group">
	<button type="submit" class="btn btn-primary" ng-disabled="lisaakysely.$invalid">Lisää uusi kysely</button>
	</div>
</form>
<hr>
<form class="form-inline" name="poistakysely" ng-submit="poistaKysely()">
	<div class="form-group">
	<label class="control-label">Poista kysely: </label>
	 <select class="form-control" ng-model="poistakysely" ng-init="poistakysely='kysely'" required>
		 <option disabled value="kysely">-- Valitse Kysely --</option>
 		<option ng-repeat="(index, poistakysely) in myWelcome" value="{{poistakysely.id}}">{{poistakysely.nimi}}</option>
	</select>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Poista kysely</button>
	</div>
</form>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http,$window) {

  $http.get("kyselylista")
  .then(function(response,kyselyalku) {
      $scope.myWelcome = response.data;
      console.log($scope.myWelcome);     
  });
  $scope.id;
  $scope.vastaukset = {};
  $scope.indeksi;
  $scope.submitForm=function(){

      var data=$scope.vastaukset;  
   		console.log(data);
      var vastaukset=[];
      for(var i in data ){
    	  	if (Object.prototype.toString.call( data[i] ) === '[object Object]'){
    	  		var str="";
    	  		for (var d in data[i]){    	  			
    	  			str+=data[i][d]+",";
    	  			console.log(str);
    	  		}
    	  		str = str.slice(0, -1);
    	  		vastaukset.push({ id: i, vastaus: str });
    	  	}else{
			vastaukset.push({ id: i, vastaus: data[i] });
    	  	}
      }
      console.log(vastaukset);
      
      /* post to server*/
      $http.post('tallenna', JSON.stringify(vastaukset),{
                headers : {
                    'Content-Type': 'application/json'
                }}).success(function(response) {
      				 	$window.location.reload();
      
  						});
  				       
  	};
  	$scope.kysely;
  	$scope.uusikysymys;
  	$scope.kyselyalku;
  	$scope.vaihtoehdot=[];
  $scope.addQuestion = function(){
	//  console.log($scope.vaihtoehdot)
  	$.each($scope.vaihtoehdot, function (index, value){
  		//console.log($scope.vaihtoehdot[index])
  		if ($scope.vaihtoehdot[index] == null){
  			$scope.vaihtoehdot.splice(index, 1);
  		}
  	});
	
  	palaute=[{id: $scope.kysely, kysymys: $scope.uusikysymys },{ kysymys: $scope.uusikysymys, tyyppi: { tyyppi: $scope.tyyppi, vaihtoehdot:$scope.vaihtoehdot }}];
  	//console.log(palaute);
  	$http.post('lisaakysymys', JSON.stringify(palaute),{
         headers : {
                    'Content-Type': 'application/json'
                }}).success(function(response) {
      						$window.location.reload();
      						//alert('Thank you…!');
  						});
  			
  

  };
  $scope.uusikysely;
  $scope.lisaaKysely=function(){
	    //console.log($scope.uusikysely);
	  	$http.post('lisaakysely', JSON.stringify({ nimi: $scope.uusikysely[0], info: $scope.uusikysely[1] }),{
	         headers : {
	                    'Content-Type': 'application/json'
	                }}).success(function(response) {
	      						$window.location.reload();
	      						//alert('Thank you…!');
	  						});
	  };
  $scope.removeQuestion=function(question){
  	console.log("question",question);
  	$.each($scope.myWelcome, function (index, value){
  		console.log("indexof",value.kysymyslista.indexOf(question));
  		if (value.kysymyslista.indexOf(question) != -1){
  			kysymysindeksi=value.kysymyslista.indexOf(question);
  			value.kysymyslista.splice(kysymysindeksi,1);
  			console.log("muokattu value",$scope.myWelcome[index]);
  		  	$http.post('poistakysymys', JSON.stringify($scope.myWelcome[index]),{
  		         headers : {
  		                    'Content-Type': 'application/json'
  		                }}).success(function(response) {
  		      						$window.location.reload();
  		      						//alert('Thank you…!');
  		  	});
  		}	
  	})

  };
  $scope.poistakysely;
  $scope.poistaKysely=function(){
	  
	  	$http.post('poistakysely', JSON.stringify($scope.poistakysely),{
	         headers : {
	                    'Content-Type': 'application/json'
	                }}).success(function(response) {
	      						
	                			$window.location.reload();
	      						alert('Thank you…!');
	  						});
	  };
});

</script>
</body>
</html>