.d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: #555555;
        color: #fff;
        border-radius: 2px;
      }
      path {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
      }
      .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      .datapoint:hover{
	fill: steelblue;
      }
      .xlabel, .ylabel {
        font-weight:bold;
	font-size:20px;
      }