<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style> .ng-cloak { display: none !important; } </style>
<script>
/*$(document).ready(function(){
        $.getJSON("kysymykset.JSON", function(result){
            $.each(result, function(i, field){
                $("form").append(field.id + ".  " +field.kysymys + "<br/>").append("<input name="+field.id+"/><br/>");
            });
        });
        $('#vastauslomake').on('submit', function(e) { 
            var inputs = $("#vastauslomake :input:not(:submit)");
            e.preventDefault();
            var vastaukset = $.map(inputs, function(x, y) {
                		return {
                        	id: x.name,
                        	vastaus: $(x).val()
                    };
                });
            console.log(vastaukset);
            $.ajax({
                url: 'talletavastaus', // php script to retern json encoded string
                data:JSON.stringify(vastaukset),  // serialized data to send on server
                contentType: "application/json; charset=utf-8",
                dataType:'json', // set recieving type - JSON in case of a question
                type:'POST', // set sending HTTP Request type
                success: function (data) {
                	console.log(data)
                	$("#response pre").html("Vastaukset tallennetu! Kiitos!")
                	$('#vastauslomake')[0].reset();
                	
                },
                error: function (err) {
                	console.log("jotain meni pieleen: katso virhe alta:")
                	$("#response pre").html("jotain meni pieleen!")
                	console.log(err)	
                }
            });
            
            });
 
       
});*/
</script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<form  name="lomake"  ng-submit="submitForm()" >

  <div  class="form-group " ng-repeat="(index, kysymys) in myWelcome" >
  
    <label ng-cloak>{{kysymys.id}}. {{ kysymys.kysymys }}</label>
    <br/>
   <div ng-if="kysymys.tyyppi.tyyppi=='radio'"  ng-repeat="(i, vaihtoehto) in kysymys.tyyppi.vaihtoehdot track by i"> 
    	<input type="{{kysymys.tyyppi.tyyppi}}" class="form-control" name="kys_{{$index}}" value="{{vaihtoehto}}" ng-model="vastaukset[kysymys.id]" required >
    		{{vaihtoehto}}
    	</input>
    </div>
    <div ng-if="kysymys.tyyppi.tyyppi=='text'">
    	<input type="{{kysymys.tyyppi.tyyppi}}" class="form-control" name="kys_{{$index}}" ng-model="vastaukset[kysymys.id]" required >
    </div>
    <div ng-if="kysymys.tyyppi.tyyppi=='checkbox'"  ng-repeat="(i, vaihtoehto) in kysymys.tyyppi.vaihtoehdot track by i">
    	<input type="{{kysymys.tyyppi.tyyppi}}" class="form-control" name="kys_{{$i}}" ng-model="vastaukset[kysymys.id][i]" ng-true-value="'{{vaihtoehto}}'" ng-required="value.length==0">
    	{{vaihtoehto}}
    	</input>
    </div>
    <button ng-click="removeQuestion(kysymys.id)">-</button>
    <br/>
    <p class="help-block" ng-show="lomake['kys_' + $index].$touched && lomake['kys_' + $index].$invalid" >Kenttä ei saa olla tyhjä</p>
 
  </div>
	<button type="submit" class="btn btn-primary" ng-disabled="lomake.$invalid">Submit</button>
</form>

<form  name="lisaakysymys"  ng-submit="addQuestion()" >

  <div  class="form-group ">
  
    <label >Lisää uusi kysymys</label>
    <br/>
    <input type="text" class="form-control" name="uusikysymys" ng-model="kysymys" required/>
    <select ng-model="tyyppi" required>
 		<option selected="selected" value="text">text</option>
 		<option value="radio">radio</option>
		<option value="checkbox">checkbox</option>
	</select>
	<div ng-if="tyyppi=='radio' || tyyppi=='checkbox'">
	<input type="text" class="form-control" name="uusikysymys" ng-model="vaihtoehdot[0]" required placeholder="vastausvaihtoedot..."/>
	<input type="text" class="form-control" name="uusikysymys" ng-model="vaihtoehdot[1]" required placeholder="pakollinen..."/>
	<input type="text" class="form-control" name="uusikysymys" ng-model="vaihtoehdot[2]" value="" placeholder="vapaaehtoinen.."/>
	<input type="text" class="form-control" name="uusikysymys" ng-model="vaihtoehdot[3]" value="" placeholder="vapaaehtoinen.."/>
  	</div>
    <br/>
    <p class="help-block" ng-show="lisaakysymys.uusikysymys.$touched && lisaakysymys.uusikysymys.$invalid">Kysymys ei saa olla tyhjä</p>
 	
  </div>
	<button type="submit" class="btn btn-primary" ng-disabled="lisaakysymys.$invalid">Submit</button>
</form>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http,$window) {

  $http.get("get.json")
  .then(function(response) {
      $scope.myWelcome = response.data;
      console.log(response.data);
      
  });

  $scope.vastaukset = {};

  $scope.submitForm=function(){

      var data=$scope.vastaukset;  
   		console.log(data);
      var vastaukset=[];
      for(var i in data ){
    	  	if (Object.prototype.toString.call( data[i] ) === '[object Object]'){
    	  		var str="";
    	  		for (var d in data[i]){    	  			
    	  			str+=data[i][d]+",";
    	  			console.log(str);
    	  		}
    	  		vastaukset.push({ id: i, vastaus: str });
    	  	}else{
			vastaukset.push({ id: i, vastaus: data[i] });
    	  	}
      }
      console.log(vastaukset);
      
      /* post to server*/
      $http.post('tallenna', JSON.stringify(vastaukset),{
                headers : {
                    'Content-Type': 'application/json'
                }}).success(function(response) {
      				 	$window.location.reload();
      
  						});
  				       
  	};
  	$scope.vaihtoehdot=[];
  $scope.addQuestion = function(){
	  console.log($scope.vaihtoehdot)
  	$.each($scope.vaihtoehdot, function (index, value){
  		console.log($scope.vaihtoehdot[index])
  		if ($scope.vaihtoehdot[index] == null){
  			$scope.vaihtoehdot.splice(index, 1);
  		}
  	});

  	palaute={kysymys: $scope.kysymys, tyyppi: { tyyppi: $scope.tyyppi, vaihtoehdot:$scope.vaihtoehdot }}
  	console.log(palaute);
  	$http.post('lisaakysymys', JSON.stringify(palaute),{
         headers : {
                    'Content-Type': 'application/json'
                }}).success(function(response) {
      						$window.location.reload();
      						//alert('Thank you…!');
  						});
  			
  

  };
  $scope.removeQuestion=function(questionID){
  
  	$http.post('poistakysymys', JSON.stringify(questionID),{
         headers : {
                    'Content-Type': 'application/json'
                }}).success(function(response) {
      						$window.location.reload();
      						//alert('Thank you…!');
  						});
  };
});

</script>
</body>
</html>