<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
        $.getJSON("kysymykset.JSON", function(result){
            $.each(result, function(i, field){
                $("form").append(field.id + ".  " +field.kysymys + "<br/>").append("<input name="+field.id+"/><br/>");
            });
        });
        $('#vastauslomake').on('submit', function(e) { 
            var inputs = $("#vastauslomake :input:not(:submit)");
            e.preventDefault();
            var vastaukset = $.map(inputs, function(x, y) {
                		return {
                        	id: x.name,
                        	vastaus: $(x).val()
                    };
                });
            console.log(vastaukset);
            $.ajax({
                url: 'talletavastaus', // php script to retern json encoded string
                data:JSON.stringify(vastaukset),  // serialized data to send on server
                contentType: "application/json; charset=utf-8",
                dataType:'json', // set recieving type - JSON in case of a question
                type:'POST', // set sending HTTP Request type
                success: function (data) {
                	console.log(data)
                	$("#response pre").html("Vastaukset tallennetu! Kiitos!")
                	$('#vastauslomake')[0].reset();
                	
                },
                error: function (err) {
                	console.log("jotain meni pieleen: katso virhe alta:")
                	$("#response pre").html("jotain meni pieleen!")
                	console.log(err)	
                }
            });
            
            });
 
       
});
</script>
</head>
<body>
<div id="response">
<pre></pre>
</div>
<form id="vastauslomake">

<input type="submit" id="submit" value="Submit"/><br/>
</form>
</body>
</html>